# http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
jsdoc/
doc/
coverage/
dist/
node_modules/
examples/**/node_modules/
# ignore linting for ts, js and tests
*/*.js
*/*.ts
*/test/*/*.ts
*/test/*/*.js
*.ts
# todo: encrypt a compatible version of this
test/resources/auth.js